* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

/*
@font-face {
	font-family: 'alefBold';
	font-weight: 300; (bold)
	font-style: normal;
	src: url('../fonts/Alef-bold.ttf');
}
@font-face {
	font-family: 'alefregular';
	font-weight: 300; (regular)
	font-style: normal;
	src: url('../fonts/Alef-regular.ttf');
} */
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, img {
    display: block;
}

html {
    height: 100%;
}

body {
    height: 83%;
    margin: 0 auto !important;
    font-family: "Alef Hebrew", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
}

ol, ul {
    list-style: none;
}

hr {
    background: #000;
    width: 100%;
    height: 1px;
    margin: 0px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea, select, option {
    resize: none;
    outline: none;
    -webkit-border-radius: 0px;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0px;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea:-moz-placeholder, input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea::-moz-placeholder, input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #000;
    font-size: 15px;
    outline: 0;
}

footer {
    width: 100%;
    float: right;
    background: #c0c0c0;
    padding: 10px;
    float: right;
    z-index: 10000;
}

footer ul {
    float: left;
}

footer ul:nth-child(3) {
    display: none;
}

footer ul li {
    display: inline-block;
    padding: 0px 15px;
}

footer ul li a {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 0% !important;
    color: #fff !important;
    text-shadow: 1px 1px 0px #283744;
    font-size: 22px;
}

footer div {
    float: right;
}

footer div a {
    margin-left: 10px;
}

.coverBackground {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover;
    background-size: cover !important;
    width: 580px;
    height: 430px;
    left: 0px;
    float: left;
}

.flc {
    clear: both;
}

.flr {
    float: right;
}

.fll {
    float: left;
}

.hidden {
    display: none;
}

.wrapper {
    position: relative;
    text-align: center;
    padding: 63px 50px 22px;
    color: #606060;
    float: left;
    width: 100%;
    min-height: 100%;
    margin-bottom: -10px; /*  for the sticky footer */
}

.fa-pulse {
    position: absolute;
    left: 50%;
    top: 30%;
}

.fa-spin {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 10%;
}
.fa-spin2 {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 50%;
}

/****************************************************** HTML **********************************************/
.myjobsWrapper, .readcvsWrapper, .unreadcvsWrapper, .favoritesWrapper,
.resumeWrapper, .jobWrapper, .jobParametersWrapper, .searchJobsWrapper,
.googleSignInWrapper, .jobPageWrapper, .matchpageWrapper, .aboutWrapper,
.contactusWrapper, .googleSignInWrapper, .companyprofileWrapper, .candidatesWrapper,
.profileWrapper {
    width: 75%;
    margin: 0 auto;
}

.unreadcvsWrapper header h2, .readcvsWrapper header h2,
.favoritesWrapper header h2, .jobWrapper header h2, .myjobsWrapper header h2,
.resumeWrapper header h2, .jobParametersWrapper header h2,
.searchJobsWrapper header h2, .jobPageWrapper header h2,
.matchpageWrapper header h2, .googleSignInWrapper header h2,
.aboutWrapper header h2, .contactusWrapper header h2,
.companyprofileWrapper header h2, .profileWrapper header h2, .candidatesWrapper header h2 {
    margin-bottom: 25px !important;
    text-align: left;
}

.myjobsWrapper > h3, .readcvsWrapper > h3, .unreadcvsWrapper > h3,
.favoritesWrapper > h3, .resumeWrapper > h3, .jobWrapper > h3,
.jobParametersWrapper > h3, .searchJobsWrapper > h3, .jobPageWrapper > h3,
.matchpageWrapper > h3, .googleSignInWrapper > h3, .aboutWrapper > h3,
.companyprofileWrapper > h3, .profileWrapper > h3, .contactusWrapper > h3, .candidatesWrapper > h3 {
    position: absolute;
    color: #257bbe;
    font-size: 16px;
    top: 20px;
}

.highlighted {
    background: #fffc00;
}

.mobile {
    display: none;
}

.web {
    display: block;
}

/* STAR RANKING */
.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}

.rating-star {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 -16px;
}

.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

/****************************************************** GOOGLE SIGN-IN HTML **********************************************/
.googleSignInWrapper > div > a {
    width: 50%;
    float: left;
    opacity: 0.6;
}

.googleSignInWrapper > div > a:hover, .googleSignInWrapper > div > a:focus {
    opacity: 1;
    text-decoration: none;
}

.googleSignInWrapper > div > a > h3 {
    margin-left: 5%;
    cursor: pointer;
    margin-bottom: 20px;
}

.googleSignInWrapper > div:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 30px;
}

.googleSignInWrapper > div:nth-child(4) {
    width: 100%;
    margin-top: 5%;
    float: left;
}

.googleSignInWrapper > div > a > img {
    margin-left: 5%;
    display: inline-block;
    cursor: pointer;
}

.abcRioButton {
    margin: 0 auto;
}

/****************************************************** INDEX - NAV BAR **********************************************/

/*NAV*/
.navbar {
    height: 0px;
    min-height: inherit !important;
}

.navBar > div:nth-child(1) {
    padding: 15px;
    float: left;
    position: absolute;
}

.navBar > div:nth-child(1) img {
    width: 50%;
}

.navBar > div:nth-child(2) {
    margin: 15px;
    float: right;
    position: absolute;
    right: 0px;
}

.navBar > div:nth-child(2) > a > img {
    border-radius: 1000px;
    float: right;
}

.navBarImg {
    float: right;
    overflow: hidden;
    height: 150px;
    background-image: url("../images/navImg.jpg");
    width: 100%;
}

.navBarImg img {
    max-height: 261px;
    width: 100%;
}

.navBarImg li a {
    font-size: 26px;
    font-weight: 600;
    padding: 0% !important;
    color: #fff !important;
    text-shadow: 3px 3px 2px #283744;
}

.navBarImg ul {
    width: 100%;
    padding: 100px 0px 0px;
}

.navBarImg ul li {
    display: inline-block !important;
    float: none;
    margin: 0% 3% !important;
}

.container-fluid {
    padding-right: 0px;
}

/****************************************************** MY JOBS - HTML **********************************************/
.myjobsWrapper form {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 10px;
    display: inline-block;
}

.myjobsWrapper form button {
    float: left;
    width: 15%;
    padding-right: 0px;
    margin-left: 10px;
    padding-left: 0px;
}

.myjobsWrapper section {
    width: 100%;
    float: left;
}

.myjobsWrapper section > div {
    border-radius: 10px;
}

.jobs {
    margin-top: 20px;
    border: 2px solid #B5B5B5;
    width: 100%;
    text-align: left;
    float: left;
    text-align: left;
}

.jobs > div:nth-child(1) {
    height: 40px;
    background: #B5B5B5;
    padding: 10px 13px;
}

.jobs > div:nth-child(1) a {
    float: right;
    margin-left: 2%;
    font-size: 11px;
}

.jobs > div:nth-child(1) h3 {
    font-size: 18px;
}

.jobs > div:nth-child(2) {
    padding: 10px 20px;
    float: left;
    width: 100%;
}

.jobs > div:nth-child(2) a {
    text-decoration: none;
}

.jobs > div:nth-child(2) section {
    position: relative;
    width: 60px;
    float: right;
}

.jobs > div:nth-child(2) section h5 {
    position: absolute;
    top: 36%;
    left: 24%;
    font-size: 18px;
}

.jobs > div:nth-child(2) span {
    float: left;
    font-weight: bold;
}

.jobs > div:nth-child(2) article {
    float: left;
    width: 100%;
    text-align: justify;
}

.jobs h5 {
    color: #606060;
    font-weight: bold;
}

.tabsWrapper {
    padding: 15px 20px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #DCDCDC;
    float: left;
    width: 100%;
}

.tabsWrapper > h3 {
    margin-top: 10px;
}

.jobs h5:nth-child(3) {
    margin-top: 20px !important;
    display: inline-block;
}

.jobs p {
    margin: 10px 0px 10px;
    font-size: 16px;
}

.jobs img {
    width: 22%;
    float: right;
}

.jobs img:hover {
    opacity: 0.6;
}

.jobsTools {
    float: right;
    background: #1b75bb;
    width: 8%;
    min-height: 300px;
    height: auto;
}

.jobsTools a i {
    color: #fff;
    width: 100%;
    margin: 20px 0px 40px;
    text-align: center;
}

.jobsTools a i:hover {
    color: #000;
}

.tab-content {
    padding: 30px;
    background: #e6e6e6;
}

.tab-content a {
    text-decoration: none !important;
}

.tabsContent > article > section {
    margin-bottom: 10px;
    position: relative;
}

.nav-tabs li {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 33.3%;
    height: 66px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.myjobsWrapper .nav-tabs li {
    width: 25%;
}

.nav-tabs li a {
    color: #1b75bb;
    margin-right: 0px !important;
    padding: 10px 0px !important;
    height: 100%;
    font-size: 18px;
}

.nav-tabs .active a {
    background: #e6e6e6 !important;
}

.tabsContent div h3 {
    font-weight: 800;
    padding-bottom: 20px;
    overflow: hidden;
}

.tabsContent div h5 {
    font-weight: 500;
}

.tabsContent .starRating {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

/****************************************************** Candidtaes - HTML **********************************************/
.candidates {
    margin-top: 20px;
    border: 2px solid #B5B5B5;
    width: 100%;
    text-align: left;
    float: left;
    max-height: 300px;
    overflow: hidden;
    text-align: left;
}

.candidatesWrapper form {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 10px;
    display: inline-block;
}

.myjobsWrapper section > div {
    border-radius: 10px;
}

.candidatesTabs li {
    height: 44px !important;
}

.candidates > div:nth-child(1) {
    height: 40px;
    background: #B5B5B5;
    padding: 10px 13px;
}

.candidates > div:nth-child(1) a {
    float: right;
    margin-left: 5px;
    width: 25px;
    font-size: 11px;
}

.candidates > div:nth-child(1) h3 {
    font-size: 18px;
}

.candidates > div:nth-child(2) {
    padding: 10px 20px;
    float: left;
    width: 100%;
}

.candidates > div:nth-child(2) a {
    text-decoration: none;
    float: left;
    width: 100%;
}

.candidates > div:nth-child(2) section {
    position: absolute;
    width: 60px;
    top: 50px;
    right: 10px;
}

.candidates > div:nth-child(2) section h5 {
    position: absolute;
    top: 36%;
    left: 24%;
    font-size: 18px;
}

.candidates > div:nth-child(2) span {
    float: left;
}

.candidates h5 {
    color: #606060;
    font-weight: bold;
    float: left;
}

.candidates p {
    margin: 10px 0px 10px;
    color: #000;
    font-size: 16px;
    text-align: justify;
}

.candidates img {
    width: 100%;
    float: right;
}

.candidates span {
    float: right;
}

.candidates img:hover {
    opacity: 0.6;
}

/****************************************************** RESUME - HTML **********************************************/
#users > div {
    background: #ebebeb;
    padding: 10px 0px;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.resumeWrapper > div h3 {
    font-size: 2.2vw;
    padding-bottom: 10px;
}

.resumeWrapper > div h4 {
    font-size: 1.5vw;
}

.resumeWrapper > div h3, .resumeWrapper > div h4 {
    color: #ebebeb;
}

.resumeDetailsBox {
    background: #ebebeb;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.resumeDetailsBox div {
    width: 30%;
    display: inline-block;
    margin-bottom: 20px;
}

.resumeDetailsBox a {
    text-decoration: none !important;
    margin-bottom: 10px;
}

.resumeDetailsBox h3 {
    margin-bottom: 20px;
}

.resumeDetailsBox h4 {
    margin-left: 10px;
}

.resumeSkillsBox {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 560px;
    margin-bottom: 20px;
}

.resumeSkillsBox span {
    font-weight: bold;
    font-size: 25px;
}

.resumeSkillsBox h3 {
    margin-bottom: 10px;
}

.resumeSkillsBox img {
    width: 100%;
}

.resumeYears {
    background: #ebebeb;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.resumeYears input, .resumeYears textarea {
    background: none;
    width: 100%;

    overflow: hidden;
    min-height: 50px;
    resize: both;
}

.resumeYears > div {
    width: 60%;
    margin: 0 auto;
}

.resumeYears > div h3:nth-child(1) {
    float: left;
}

.resumeYears > div h3:nth-child(2) {
    float: right;
}

#circle-container, #circle-container1 {
    z-index: 1;
    position: relative;
    width: 45%;
    margin: 0 auto;
}

#circle-container > h2, #circle-container1 > h2 {
    text-shadow: 1px 3px 3px #88b9f1;
    position: absolute;
    top: 25%;
    left: 26%;
    z-index: 10;
    font-size: 30px;
    text-align: center;
    width: 50%;
    height: 50%;
    line-height: 7vw;
    background: #ccc;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 100%;
    box-shadow: 4px 14px 64px #50a2e1;
}

#circle-container2 {
    width: 90%;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 5%;
}

#circle-container3 {
    width: 90%;
    z-index: 3;
    position: absolute;
    top: 5%;
    left: 5%;
}

#circle-container4 {
    width: 90%;
    z-index: 4;
    position: absolute;
    top: 5%;
    left: 5%;
}

.text-muted {
    color: #57b7ee;
    font-weight: bold;
    font-size: 24px;
}

.swipeIcon {
    display: none;
}

#candidateLike {
    padding: 0px 20px;
}

#candidateUnLike {
    padding: 0px 20px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#candidateUnLike + h3, #candidateLike + h4 {
    display: inline-block;
}

.noMoreCandidates {
    width: 100%;
    height: 100%;
    display: none;
    background: #ccc;
    position: absolute;
    left: 0;
    font-size: 30px;
}

/*
#candidateLike {
    position: fixed;
    right: 4%;
    top: 18%;
    z-index: 100000000000;
}

#candidateUnLike {
    position: fixed;
    z-index: 100000000000;
    left: 4%;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 18%;
}*/

/****************************************************** JOB - HTML **********************************************/
.jobEdit {
    margin-bottom: 47px;
    border: 2px solid #ebebeb;
    float: left;
    overflow: hidden;
    padding: 15px 0px 15px 0px;
    text-align: left;
    border-radius: 10px;
}

.jobEdit > div {
    width: 100% !important;
    padding: 6px 15px;
    margin-bottom: 0px !important;
    float: left;
}

.editLogo {
    float: left;
    width: 100%;
}

.editLogo + input {
    width: 80%;
    float: left;
}

.editLogo + input + input {
    width: 20%;
}
.companyLogo img{margin: 0 auto;
    border: 1px solid #000;}
.logos{float:left;     margin-right: 1%;}
.logos img{width:100px; height:100px;}

.pagination {
    display: block;
    margin: 0px;
}

.pagination + section {
    float: right;
    width: 20%;
    position: relative;
}

.pagination + section h5 {
    position: absolute;
    top: 39%;
    font-size: 30px;
    left: 32%;
}

.paginationSelected {
    z-index: 2;
    color: #23527c !important;
    background-color: #eee !important;
    border-color: #ddd !important;
}

.operators {
    width: 100%;
    float: left;
}

.operators input {

    color: #23527c;
    background: none;
    border: 0;
    text-align: center;
    font-size: 21px;
    width: 100%;
    float: left;
    position: inherit !important;
    margin-left: 0px !important;
}

.operators > h3 {
    float: left;
    padding: 10px 10px;
    display: none;
}

.Item > label {
    float: left;
    margin-left: 2%;
}

.Item h2 {
    text-align: center;
    font-size: 3.5vw;
}

.Item > h3 {
    float: right;
}

.Item > select + input {
    float: right;
    width: 20%;
}

#addmust {
    margin: 10px 10px;
}

#addmust + h3 {
    margin: 10px 0px;
}

.mustOrAdv {
    width: 250px;
    background: #ccc;
    height: 30px;
    float: right;
    position: relative;
    border-radius: 10px;
    border: 1px solid #000;
}

.mustOrAdv > div {
    float: left;
    width: 50%;
}

.mustOrAdv > div h3 {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.mustOrAdv section {
    background: #000;
    width: 125px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    border-radius: 10px;
}

.toggleMust {
    left: 0px;
}

.toggleAdv {
    right: 0px;
}

.operators select {
    width: 11%;
    float: left;
    margin-top: 3px;
}

.operators .Page {
    float: left;
    display: table-cell;
    padding: 0px;
    width: 100%;
    margin: auto;
    background-color: #FFF;
    border: 1px solid #999;
}

.operators .Container {
    margin: 10px;
    border: 1px dashed #CCC;
}

.operators .NewItem {
    display: block;
    margin: 5px;
    background-color: #FFF;
    text-align: center;
    padding: 25px;
    color: #AAA;
    cursor: pointer;
}

.operators .NewItem:hover {
    background-color: #E6FFE6;
    color: #555;
}

.operators .CopyItem {
    display: none;
    margin: 5px;
    background-color: #FFF;
    text-align: center;
    padding: 25px;
    color: #AAA;
    cursor: pointer;
}

.operators .CopyItemActive {
    background-color: #CCF8FF;
    color: #555;
}

.operators .Item {
    margin: 5px;
    cursor: pointer;
    height: 80px;
    padding: 5px 10px;
    border: 1px solid #CCC;
}

.operators .ItemPlaceHolder {
    margin: 5px;
    height: 80px;
    background-color: #FFF4D9;
}

/****************************************************** JOB PARAMETERS - HTML **********************************************/
.jobParametersWrapper > p {
    color: #606060;
    font-weight: bold;
}

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}

.btn-group {
    width: 100%;
}

.mustItem1, .advantageItem1, .orItem1, .mustItem2, .advantageItem2, .orItem2 {
    background-color: #ccc;
    pointer-events: none;
}

#sliders {
    position: relative;
}

#sliders > div {
    padding: 0px 20px;
    border-radius: 10px;
}

#sliders li {
    margin: 1%;
}

#sliders li div {
    width: 100%;
    float: left;
    height: 20px;
    margin-bottom: 10px;
}

#sliders p {

    font-size: 20px;
}

#sliders span {
    font-size: 24px;
    font-weight: bold;
    height: 32px;
}

.ui-widget-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,4dcfdd+100 */
    background: rgb(30, 87, 153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%,
    rgba(77, 207, 221, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%,
    rgba(77, 207, 221, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%,
    rgba(77, 207, 221, 1) 100%);
}

/************************************************************************************************************************************/
/****************************************************** SEARCH JOB - JOB SEEKER - HTML **********************************************/
/************************************************************************************************************************************/
.searchJobsWrapper form input {
    margin: 0 auto;
    margin: 0 auto;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.searchJobsWrapper form button {
    float: right;
    width: 15%;
    padding-right: 0px;
    padding-left: 0px;
}

.jobsList ul li {
    width: 100%;
    padding: 10px 10px;
}

.jobsList ul li a {
    opacity: 0.7;
}

.jobsList ul li a:hover {
    opacity: 1;
}

.jobsList article {
    width: 60%;
    float: left;
}

.jobsList article p {
    text-align: left;
    margin-left: 20px;
}

.jobListLi {
    float: left;
}

.jobListLi section {
    position: relative;
    width: 60px;
    float: right;
    top: 15px;
}

.jobListLi section h5 {
    position: absolute;
    top: 36%;
    left: 24%;
    font-size: 18px;
}

.jobListLi img {
    float: left;
    width:100px;
}

.jobListLi a {
    width: 100%;
    display: inline-block;
}

.jobListLi a i {
    float: right;
    margin-top: 15px;
}

/****************************************************** MY JOBS - JOBSEEKER - HTML **********************************************/
.readUnread {
    position: absolute;
    right: 75px;
    top: 30px;
}

.jobListLi .rating {
    position: absolute;
    top: 44px;
}

/****************************************************** JOB - JOBSEEKER - HTML **********************************************/
.jobPageWrapper header h2 {
    width: 100%;
    text-align: left;
}

.jobPageWrapper p {
    text-align: justify;
}

.jobPageWrapper h2 {
    text-align: left;
    margin-bottom: 10px;
}

.jobPageWrapper h4 {
    text-align: left;
    margin-bottom: 10px;
}

.skills {
    margin-top: 10px;
    text-align: left;
}

.skills li {
    text-align: justify;
}

.skills + section h2 {
    float: left;
    margin-right: 5%;
}

.skills + section {
    margin-bottom: 5%;
}

.jobPageWrapper > a:hover {
    opacity: 1;
}

#job-circle-container {
    width: 15%;
    position: relative;
}

#job-circle-container h5 {
    position: absolute;
    top: 52%;
    left: 24%;
    font-size: 2.5vw;
}

/****************************************************** MATCH  - JOBSEEKER - HTML **********************************************/
.matchResult {
    width: 80%;
    margin: 0 auto;
}

.matchpageWrapper header h2 img {
    margin: 0 auto;
}

.matchResult img {
    margin: 0 auto;
}

.matchResult > #circle-container {
    width: 80%;
    margin: 20px auto;
}

.prograssBars {
    margin-top: 30px;
}

#user-container {
    width: 20%;
    position: relative;
    margin: 20px auto;
}

#user-container h5 {
    position: absolute;
    top: 38%;
    left: 25%;
    font-size: 2.5vw;
}

.matchResult #circle-container {
    z-index: 1;
    position: relative;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.matchResult #circle-container > svg {
    margin-bottom: 20px;
    margin-top: 20px;
}

.matchResult #circle-container h2 {
    font-size: 4.5vw;
}

#formulasAppend {
    margin: 10px 0px;
}

.langsMatch > span {
    font-weight: bold;
}
.progress-bar-striped{color:#000;}

/****************************************************************************************************************************/
/****************************************************** ABOUT - HTML ********************************************************/
/****************************************************************************************************************************/
.aboutWrapper p {
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
}

.aboutWrapper h4 {
    text-align: left;
    margin-top: 24px;
}

.aboutWrapper h5 {
    font-size: 18px;
    margin: 30px 0px;
}

/****************************************************************************************************************************/
/****************************************************** CONTACT - HTML ********************************************************/
/****************************************************************************************************************************/
.contactusWrapper div {
    float: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 48%;
    margin-left: 2%;
    min-height: 477px;
    padding: 30px;
    margin-bottom: 1%;
}

.contactusWrapper div h3 {
    margin-bottom: 40px;
}

.contactusWrapper > div > section {
    width: 100%;
    margin-bottom: 20px;
}

.contactusWrapper > div > section > i {
    width: 100%;
    text-align: center;
}

.contactusWrapper > div > section > span {
    text-align: left;
    font-size: 20px;
}

.contactusWrapper > article {
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 98%;
    margin-left: 2%;
    min-height: 420px;
    clear: both;
    padding: 30px;
}

/****************************************************************************************************************************/
/****************************************************** PROFILE - HTML ********************************************************/
/****************************************************************************************************************************/
.userProfile h4 {
    margin: 10px 0px;
}

.userProfile .checkbox-inline, .radio-inline {
    width: 100%;
}

.userProfile {
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.userProfile label {
    margin: 0px;
    margin-top: 5px;
    margin-left: 0px !important;
}

.userProfile .btn.btn-warning {
    clear: both;
}

.userProfile button {
    margin: 10px auto;
    width: 100%;
}

.profileWrapper > ul li {
    width: 50% !important;
}

.profileWrapper .timeline-badge {
    cursor: pointer;
}

.page-header h1 {
    text-align: center;
}

.parserExperienceYearsLabel {
    width: 30%;
}

.parserExperienceYearsLabelAdded {
    width: 30%;
}

.parserExperienceYears {
    float: right;
}

.parserExperienceLanguageAdded {
    float: left;
    padding-right: 2%;
    width: 30%;
}

.parserExperienceLanguage {
    float: left;
    padding-right: 2%;
    width: 30%;
}

.parser {
    width: 100%;
}

#submitAfterParse {
    pointer-events: none;
}

/****************************************************************************************************************************/
/****************************************************** MY CV - HTML ********************************************************/
/****************************************************************************************************************************/
.mycv {
    margin-bottom: 47px;
    border: 2px solid #ebebeb;
    float: left;
    overflow: hidden;
    padding: 15px 0px 15px 0px;
    text-align: left;
    border-radius: 10px;
}

.mycv > div {
    width: 100% !important;
    padding: 6px 15px;
    margin-bottom: 0px !important;
    float: left;
}

.experience > section > label:first-child {
    float: left;
    width: 100%;
}

#experience {
    float: left;
}

#years {
    width: 22%;
    margin-left: 2%;
    float: right;
    margin-top: 10px;
}

.btn-warning {
    margin-top: 10px;
    float: left;
}

/****************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************** MEDIA - MAX 767 ********************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************/
@media ( max-width: 767px) {
    .mobile {
        display: block;
    }

    .web {
        display: none;
    }

    .tab-content section:hover {
        opacity: 1;
    }

    .nav-tabs li a {
        font-size: 15px;
    }

    .navBarImg {
        display: none;
    }

    .navBar {
        padding: 15px 15px 52px 15px;
    }

    .navBar > div:nth-child(1) {
        padding: 0px;
    }

    .navBar > div:nth-child(2) {
        margin: 0px;
    }

    .jobs > div > h3 {
        line-height: 21px;
        position: absolute;
        overflow: hidden;
        width: 66%;
        height: 25px;
        font-size: 14px !important;
    }

    .candidates h5 {
        color: #606060;
        font-weight: bold;
        line-height: 21px;
        float: left;
        overflow: hidden;
        font-size: 14px !important;
    }

    #sliders li div span {
        width: 25px;
    }

    #user-container h5 {
        font-size: 5vw;
    }

    .matchResult #circle-container h2 {
        font-size: 10.5vw;
    }

    .candidates > div:nth-child(1) {
        padding: 10px 5px 0px;
    }

    .candidates > div:nth-child(1) a {
        margin-right: 0px;
        margin-left: 0px;
        text-align: right
    }

    .readUnread {
        position: absolute;
        right: 70px;
        top: 30px;
    }

    .jobsList article {
        width: 45%;
        float: left;
    }

    .jobListLi a i {
        display: none;
    }

    .jobListLi section {
        right: 0px;
    }

    .jobsTools {
        width: 15%;
    }

    .jobsTools a i {
        margin: 10px 0px 10px;
    }

    .jobs > div:nth-child(1) a i {
        margin-left: 2px;
    }

    .nav-tabs {
        margin-top: 10px;
    }

    .jobs > div:nth-child(1) {
        padding: 10px 4px;
    }

    .tabsWrapper {
        padding: 10px 5px 0px;
    }

    .resumeWrapper > div {
        width: 100%;
    }

    .jobParametersWrapper {
        padding-bottom: 80px;
    }

    .resumeWrapper > div h3 {
        font-size: 6.2vw;
    }

    .resumeWrapper > div h4 {
        font-size: 3.5vw;
    }

    #job-circle-container h5 {
        position: absolute;
        top: 71%;
        left: 14%;
        font-size: 21px;
    }

    .jobSlider > h3 {
        font-size: 22px;
        margin-top: 114px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }

    .jobSlider label {
        font-size: 10px;
    }

    .jobSlider input {
        width: 75%;
    }

    .wrapper {
        padding: 0px 0px 70px;
    }

    .myjobsWrapper, .resumeWrapper {
        padding: 0px 10px 80px;
    }

    .jobs p {
        margin: 10px 0px 10px;
        font-size: 14px;
    }

    .nav-tabs li {
        height: 66px;
    }

    .googleSignInWrapper > div > a > img {
        width: 40%;
    }

    .googleSignInWrapper > div > a > h3 {
        font-size: 20px;
    }

    .googleSignInWrapper > div > a {
        float: none;
    }

    .googleUsers {
        display: none;
    }

    .tabsContent .starRating {
        bottom: 10px;
        top: initial;
    }

    .matchResult {
        width: 100%;
    }

    .myjobsWrapper, .resumeWrapper, .readcvsWrapper, .unreadcvsWrapper,
    .favoritesWrapper, .jobParametersWrapper, .searchJobsWrapper,
    .jobWrapper, .jobPageWrapper, .matchpageWrapper, .aboutWrapper,
    .companyprofileWrapper, .contactusWrapper, .profileWrapper, .candidatesWrapper {
        padding: 10px 10px 0px;
        width: 100%;
    }

    .myjobsWrapper > h3, .resumeWrapper > h3, .readcvsWrapper > h3,
    .unreadcvsWrapper > h3, .favoritesWrapper > h3, .jobParametersWrapper > h3,
    .searchJobsWrapper > h3, .jobWrapper > h3, .jobPageWrapper > h3,
    .aboutWrapper > h3, .contactusWrapper > h3,
    .matchpageWrapper > h3, .companyprofileWrapper > h3, .profileWrapper > h3, .candidatesWrapper > h3 {
        display: none;
    }

    #myManagmentJobs, #mySoftwareJobs, #myElectrialJobs, #myMechanicalJobs {
        height: 200px;
    }

    .tabsContent div {
        margin-bottom: 0px;
    }

    .swipeIcon {
        position: absolute;
        top: 5%;
        left: 35%;
        display: block;
    }

    .jobPageWrapper > a {
        float: left;
        margin-bottom: 70px;
    }

    .resumeSkillsBox {
        width: 100%;
    }

    #circle-container > h2, #circle-container1 > h2 {
        font-size: 5vw;
        line-height: 16vw;
    }

    .resumeDetailsBox {
        width: 100%;
    }

    .resumeDetailsBox div {
        width: 100%;
    }

    .resumeYears > div:nth-child(1) {
        display: none;
    }

    .myjobsWrapper form {
        width: 100%;
    }

    .myjobsWrapper form button {
        width: 25%;
    }

    .jobSlider div span {
        width: 125% !important;
    }

    .contactusWrapper div {
        width: 100%;
        margin-bottom: 1%;
        margin-left: 0%;
    }

    footer div {
        padding: 0px;
        display: none;
    }

    footer ul {
        padding: 0px;
    }

    footer ul li {
        padding: 0px;
        text-align: center;
        width: 32%;
    }

    footer {
        height: auto;
        position: fixed;
        bottom: 0;
        padding: 5px 0px 0px;
        border-top: 1px solid #6F6F6F;
    }

    footer ul li a {
        font-size: 3.5vw;
    }

    footer ul:nth-child(1) {
        display: none;
    }

    footer ul:nth-child(3) {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    footer ul:nth-child(3) a i {
        width: 100%;
        text-align: center;
    }

    footer ul:nth-child(3) a p {
        margin: 0px;
    }

    /*MEDIA TIMELINE*/
    .timeline > li > .timeline-panel {
        width: 100% !important;
        background: #d4d4d4;
        z-index: 2;
    }

    .timeline-inverted, .timeline-badge, .timeline > li > .timeline-panel:after,
    .timeline > li > .timeline-panel:before {
        /*display: none !important;*/
    }
}

/****************************************************** TIMELINE ***************************************************/
.container {
    width: 100% !important;
}

.timeline {
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #000;
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    z-index: 233;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ee5785;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
    text-align: justify;
    width: 100%;
    font-style: italic;
    overflow: hidden;
}

.timeline-body > p + p {
    margin-top: 5px;
}