<div class="favoritesWrapper">
	<h3 compile-html>{{navigation}}</h3>
	<header>
		<h2>Favorites</h2>
	</header>

	<ul class="nav nav-tabs" ng-init="tab=0">
		<li ng-class="{active:tab == 0}"><a ng-click="tab = 0">
				Managment Engineer</a></li>
		<li ng-class="{active:tab == 1}"><a ng-click="tab = 1">Software
				Engineer</a></li>
		<li ng-class="{active:tab == 2}"><a ng-click="tab = 2">Electrial
				Engineer</a></li>
		<li ng-class="{active:tab == 3}"><a ng-click="tab = 3">Mechanical
				Engineer</a></li>
	</ul>

	<div class="tab-content">
		<div ng-show="tab == 0" class="tabsContent fade in active">
			<!-- Content from here -->
			<article ng-init="getMainJson();limitPost=2" infinite-scroll="limitPost=limitPost+1" infinite-scroll-distance="2">
				<section ng-repeat="job in jobs.managment | limitTo:limitPost">
					<a href="#/resume/{{job.name}}"><div class="animated fadeInUp">
						<img src="images/stars.png">
						<h3>{{job.subsector}}</h3>
						<h4>{{job.name}}</h4>
						<h5>{{job.sector}}</h5>
					</div></a>
				</section>
			</article>
		</div>
		<div ng-show="tab == 1" class="tabsContent fade in active">
			<!-- Content from here -->
			<article ng-init="getMainJson();limitPost=2"
				infinite-scroll="limitPost=limitPost+3" infinite-scroll-distance="2">
				<section ng-repeat="job in jobs.software | limitTo:limitPost">
					<div class="animated fadeInUp">
						<img src="images/stars.png">
						<h3>{{job.subsector}}</h3>
						<h4>{{job.name}}</h4>
						<h5>{{job.sector}}</h5>
					</div>
				</section>
			</article>
		</div>
		<div ng-show="tab == 2" class="tabsContent fade in active">
			<!-- Content from here -->
			<article ng-init="getMainJson();limitPost=2"
				infinite-scroll="limitPost=limitPost+3" infinite-scroll-distance="2">
				<section ng-repeat="job in jobs.electrial | limitTo:limitPost">
					<div class="animated fadeInUp">
						<img src="images/stars.png">
						<h3>{{job.subsector}}</h3>
						<h4>{{job.name}}</h4>
						<h5>{{job.sector}}</h5>
					</div>
				</section>
			</article>
		</div>
		<div ng-show="tab == 3" class="tabsContent fade in active">
			<!-- Content from here -->
			<article ng-init="getMainJson();limitPost=2"
				infinite-scroll="limitPost=limitPost+3" infinite-scroll-distance="2">
				<section ng-repeat="job in jobs.mechanical | limitTo:limitPost">
					<div class="animated fadeInUp">
						<img src="images/stars.png">
						<h3>{{job.subsector}}</h3>
						<h4>{{job.name}}</h4>
						<h5>{{job.sector}}</h5>
					</div>
				</section>
			</article>
		</div>
	</div>

</div>