<div class="favoritesWrapper">
	<h3 compile-html>{{navigation}}</h3>
	<header>
		<h2>Favorites</h2>
	</header>

	<ul class="nav nav-tabs" ng-init="tab=0">
		<li ng-class="{active:tab == 0}"><a ng-click="tab = 0">
				Managment Engineer</a></li>
		<li ng-class="{active:tab == 1}"><a ng-click="tab = 1">Software
				Engineer</a></li>
		<li ng-class="{active:tab == 2}"><a ng-click="tab = 2">Electrial
				Engineer</a></li>
		<li ng-class="{active:tab == 3}"><a ng-click="tab = 3">Mechanical
				Engineer</a></li>
	</ul>


	<div class="tab-content">
		<div ng-show="tab == 0" class="tabsContent fade in active">
			<!-- Content from here -->
			<article ng-init="getMainJson();limitPost=2" infinite-scroll="limitPost=limitPost+1" infinite-scroll-distance="2">
				<section ng-repeat="job in jobs.managment | limitTo:limitPost">
					<a href="#/favorites/resume/{{job.name}}"><div class="animated fadeInUp">
						<img src="images/stars.png">
						
				<!-- 	<span class="starRating">
				        <input ng-if="{{job.stars}} == 5 ? checked : ''"  id="rating5" type="radio" name="rating" value="5">
				        <label for="rating5">5</label>
				        <input id="rating4" type="radio" name="rating" value="4">
				        <label for="rating4">4</label>
				        <input id="rating3" type="radio" name="rating" value="3">
				        <label for="rating3">3</label>
				        <input id="rating2" type="radio" name="rating" value="2">
				        <label for="rating2">2</label>
				        <input ng-if="{{job.stars}} == 1 ? checked : ''" id="rating1" type="radio" name="rating" value="1" >
				        <label for="rating1">1</label>
				     </span>
 -->

						<h3>{{job.subsector}}</h3>
						<h4>{{job.name}}</h4>
						<h5>{{job.sector}}</h5>
					</div></a>
				</section>
			</article>
		</div>
		<div ng-show="tab == 1" class="tabsContent fade in active">
			<!-- Content from here -->
			<article ng-init="getMainJson();limitPost=2"
				infinite-scroll="limitPost=limitPost+3" infinite-scroll-distance="2">
				<section ng-repeat="job in jobs.software | limitTo:limitPost">
					<div class="animated fadeInUp">
						<img src="images/stars.png">
						<h3>{{job.subsector}}</h3>
						<h4>{{job.name}}</h4>
						<h5>{{job.sector}}</h5>
					</div>
				</section>
			</article>
		</div>
		<div ng-show="tab == 2" class="tabsContent fade in active">
			<!-- Content from here -->
			<article ng-init="getMainJson();limitPost=2"
				infinite-scroll="limitPost=limitPost+3" infinite-scroll-distance="2">
				<section ng-repeat="job in jobs.electrial | limitTo:limitPost">
					<div class="animated fadeInUp">
						<img src="images/stars.png">
						<h3>{{job.subsector}}</h3>
						<h4>{{job.name}}</h4>
						<h5>{{job.sector}}</h5>
					</div>
				</section>
			</article>
		</div>
		<div ng-show="tab == 3" class="tabsContent fade in active">
			<!-- Content from here -->
			<article ng-init="getMainJson();limitPost=2"
				infinite-scroll="limitPost=limitPost+3" infinite-scroll-distance="2">
				<section ng-repeat="job in jobs.mechanical | limitTo:limitPost">
					<div class="animated fadeInUp">
						<img src="images/stars.png">
						<h3>{{job.subsector}}</h3>
						<h4>{{job.name}}</h4>
						<h5>{{job.sector}}</h5>
					</div>
				</section>
			</article>
		</div>
	</div>

</div>