<div class="myjobsWrapper" ng-init="getMainJson()">
	<h3 compile-html>{{navigation}}</h3>
	<header>
		<h2>My Jobs</h2>
	</header>
	<form method="get" action="">
		<input type="text" placeholder="Find Job" ng-model="searchText"
			class="form-control" focus="true">
		<button type="button" class="btn btn-info">Search</button>
	</form>
	<!-- jobs sections -->
	<section ng-repeat="job in myjobs | filter:searchText">
		<div class="jobs animated fadeInDown">
			<div>
				<h3 ng-model="searchText.job_name"
					ng-bind-html="highlight(job.job_name, searchText)">{{job.job_name}}</h3>
			</div>
			<div>
				<h5 ng-model="searchText.address"
					ng-bind-html="highlight(job.address, searchText)">Address:
					{{job.address}}</h5>
				<a href="#/job/{{job._id}}"><p
						ng-model="searchText.original_text"
						ng-bind-html="highlight(job.original_text, searchText)">{{job.original_text}}</p>
					<h5>Compability: {{job.compability}}</h5> <!--  compability Img -->
					<img src="images/compability.png"> </a>
			</div>
			<div class="jobsTools">
				<a href="#"><i class="fa fa-pencil fa-2x"></i></a> <a href="#"><i
					class="fa fa-trash fa-2x"></i></a> <a href="#"><i
					class="fa fa-wrench fa-2x"></i></a>
			</div>
		</div>
	</section>

</div>