<div class="googleSignInWrapper">
	<!-- <header>
		<h3>CVMatcher</h3>
	</header> -->
	<!-- natalie -->
	<header>
		<img src="images/logo.png"> 
	</header>

	<!-- natalie -->
	<img class="googleSignInImg" src="images/buildings.png"/>
		
	<div class="googleSignInBox">
		<h3>CV Matcher</h3>
		<div>
			<a href="" ng-click="userType('jobSeeker')">
				<img src="images/jobsee.png"> 
				<h4>Im a Job Seeker</h4> 
			</a>
		</div>
		<div>
			<a  href="" ng-click="userType('employer')">
				<img src="images/emp.png"> 
				<h4>Im an Employer</h4>
			</a>
		</div>
	</div>
</div>