<div class="googleSignInWrapper" ng-init="init()">
    <!-- natalie -->
    <img class="googleSignInImg" alt="background Img" src="images/buildings.png"/>

    <div class="googleSignInBox">
        <h3>CV Matcher</h3>  

        <div>  
            <a href=""  ng-click="userType('jobSeeker')">
                <img alt="job seeer" src="images/jobsee.png">
                <h4>Im a Job Seeker</h4>
            </a>
        </div>
        <div>
            <a href="" ng-click="userType('employer')">
                <img alt="employer" src="images/emp.png">
                <h4>Im an Employer</h4>
            </a>
        </div>
    </div>
</div>
