<div class="matchpageWrapper" ng-init="getMainJson();checkMyCV();">
    <h3 class="navigation"></h3>
    <header>
        <h2>Match Page</h2>
    </header>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
             style="width: 25%">Description
        </div>
        <div class="progress-bar progress-bar-warning" role="progressbar"
             style="width: 25%">Feedback
        </div>
        <div role="progressbar" style="width: 25%">Fix CV</div>
        <div role="progressbar" style="width: 25%">Finish</div>
    </div>
    <div class="matchResult">
        <h2><i class="fa  fa-2x"></i></h2>
        <h3></h3>
        <section id="user-container">
            <h5></h5>
        </section>

        <section id="circle-container1">
            <section id="circle-container2">
                <section id="circle-container3">
                    <section id="circle-container4"></section>
                </section>
            </section>
            <h2>Skills</h2>
        </section>

        <div class="langsMatch"></div>
        <div id="formulasAppend"></div>
    </div>
</div>
<a href="#/Profile"  class="btn btn-default">Fix CV</a>
<a href="" ng-if="sendcv" class="btn btn-default" ng-click="sendCV()" data-toggle="modal" data-target="#sendCVstatus">Send CV</a>
</div>



<!-- Modal -->
<section class="modal fade" id="sendCVstatus" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{status}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="exitStatus()">
                    Close
                </button>
            </div>
        </div>
    </div>
</section>