<div class="jobWrapper">
	<h3 compile-html>{{navigation}}</h3>
	<header>
		<h2>My Resume</h2>
	</header>
	<i class="fa fa-spinner fa-pulse fa-5x"></i>
	<form method="post" action="">
		<div class="animated fadeInDown mycv">
			<div class="form-group">
				<label for="usr">Name:</label> <input type="text" required
					class="form-control" id="usr" name="name" value="{{cv.name}}">
			</div>
			<div class="form-group">
				<label for="usr">Last Name:</label> <input type="text" required
					class="form-control" id="usr" name="last_name"
					value="{{cv.last_name}}">
			</div>

			<div class="form-group">
				<label for="usr">Sex:</label> <label><input type="radio"
					name="sex" value="male"> Male</label> <label><input
					type="radio" name="sex" value="female"> Female</label>
			</div>

			<div class="form-group">
				<label for="usr">Phone:</label> <input type="text" required
					class="form-control" id="usr" name="phone"
					placeholder="050-1234567" value="{{cv.phone}}">
			</div>

			<div class="form-group">
				<label for="sel1">Location:</label> <select class="form-control"
					name="address" id="sel1" value="{{cv.address}}">
					<option>Center</option>
					<option>North</option>
					<option>East</option>
					<option>South</option>
					<option>West</option>
				</select>
			</div>

			<div class="form-group">
				<label for="usr">Sector:</label> <input type="text" required
					placeholder="Example: Software Engineer" class="form-control"
					id="usr" name="sector" value="{{cv.sector}}">
			</div>
			<div class="form-group">
				<label for="usr">Sub Sector:</label> <input type="text" required
					placeholder="Example: Web Developer" class="form-control" id="usr"
					name="sub_sector" value="{{cv.sub_sector}}">
			</div>
			<div class="form-group">
				<label for="usr">Scope of Position:</label> <input type="text"
					placeholder="Example: Student" required class="form-control"
					id="usr" name="scope_of_position" value="{{cv.scope_of_position}}">
			</div>
			<div class="form-group">
				<label for="comment">Description:</label>
				<textarea class="form-control" rows="5" name="description"
					placeholder="Example: I workd as... for 2 years..." id="comment"
					required>{{cv.description}}</textarea>
			</div>
			<div class="form-group experienceBeforeParse">
				<label for="comment">Experience:</label>
				<textarea class="form-control" rows="5" name="experienceBeforeParse"
					placeholder="Example: C++ for 2 years, Java for 3 years..."
					id="comment" required>{{cv.experience}}</textarea>
				<input type="button" class="btn btn-warning"
					ng-click="parseExperience()" value="Parse my Experience">
			</div>

			<div class="experience hidden">
				<section>
					<label for="experience">Experience:</label> <input type="text"
						required class="form-control" id="experience" name="experience"
						placeholder="Example: Java" value="{{cv.experience.language}}">
					<select class="form-control" name="years" id="years"
						value="{{cv.experience.years}}">
						<option>0 No-Experience</option>
						<option>1-2 Years</option>
						<option>3-4 Years</option>
						<option>5+ Years</option>
					</select>
				</section>
				<input type="button" class="btn btn-warning"
					ng-click="addExperience()" value="+ Add Experience">
			</div>
		</div>
		<button type="submit" class="btn btn-info">Submit</button>
		<button type="submit" class="btn btn-default">Cancel</button>
	</form>
</div>