<div class="profileWrapper" ng-init="getMainJson()">
    <h3 compile-html>{{navigation}}</h3>
    <header>
        <h2>Profile</h2>
    </header>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <ul class="nav nav-tabs" ng-init="tab=0">
        <li ng-class="{active:tab == 0}"><a ng-click="tab = 0">Personal
            Information</a></li>
        <li ng-class="{active:tab == 1}"><a ng-click="tab = 1">Professional
            Experience - CV</a></li>

    </ul>

    <div class="tab-content userProfile">
        <div ng-show="tab == 0" class="tabsContent fade in active">
            <!-- Content from here -->
            <form>
                <h4>Personal Information</h4>
                <label for="usr">ID:</label> <input type="text" required="true" ng-model="jobSeeker['personal_id']"
                                                      class="form-control" id="usr" name="name" required
                                                      value="{{jobSeeker['personal_id']}}">
                <label for="usr">Name:</label> <input type="text" required ng-model="jobSeeker['first_name']"
                                                      class="form-control" id="usr" name="name" required
                                                      value="{{jobSeeker['first_name']}}"> <label
                    for="usr">Family:</label> <input type="text" required ng-model="jobSeeker['last_name']"
                                                     class="form-control" id="usr" name="family"
                                                     value="{{jobSeeker['last_name']}}"> <label
                    for="usr">Date of birth:</label> <input type="text" required ng-model="jobSeeker['birth_date']"
                                                            class="form-control birthDay" id="usr" name="birth" required
                                                            value="{{jobSeeker['birth_date']}}">

                <label>Address:</label> <input class="form-control" ng-model="jobSeeker['address']" id="geocomplete"
                                               type="text"
                                               name="location" value="{{jobDetails['address']}}" required
                                               placeholder="Type in an address" size="90" autocomplete="on">


                <label
                        for="usr">Phone:</label> <input type="text" required ng-model="jobSeeker['phone_number']"
                                                        class="form-control phoneNumber" id="usr" name="phone"
                                                        value="{{jobSeeker['phone_number']}}">
                <label for="usr">LinkedIn:</label> <input type="text" required ng-model="jobSeeker['linkedin']"
                                                          class="form-control linkedin" id="usr" name="name"
                                                          value="{{jobSeeker['linkedin']}}">


                <button type="button" class="btn btn-default" ng-click="submitUserDetails()">Send</button>
            </form>
        </div>
        <div ng-show="tab == 1" class="tabsContent fade in active">
            <!-- Content from here -->
            <form>

                <h4>Professional Experience</h4>
                <label for="usr">Sector:</label> <select name="sector" required
                                                         class="form-control jobSeekerCVsector" id="sel1">
                <option ng-selected="jobSeekerCV.sector == ''" value="">
                </option>
                <option ng-selected="jobSeekerCV.sector == 'software'" value="software">Software Engineering
                </option>
                <option ng-selected="jobSeekerCV.sector == 'Industrial Engineering and Management'" value="industrial">
                    Industrial Engineering and
                    Management
                </option>
                <option ng-selected="jobSeekerCV.sector == 'Electrical Engineering'" value="electrical">Electrical
                    Engineering
                </option>
                <option ng-selected="jobSeekerCV.sector == 'Mechanical Engineering'" value="mechanical">Mechanical
                    Engineering
                </option>
            </select> <label for="usr">Candidate type:</label> <select name="candidate" required
                                                                       class="form-control jobSeekerCVCandidateType"
                                                                       id="sel1">
                <option ng-selected="jobSeekerCV.candidate_type[0] == 'Student'" value="student">Student</option>
                <option ng-selected="jobSeekerCV.candidate_type[0] == 'Mothers'" value="mothers">Mothers</option>
                <option ng-selected="jobSeekerCV.candidate_type[0] == 'Pensioners'" value="pensioners">Pensioners
                </option>
                <option ng-selected="jobSeekerCV.candidate_type[0] == 'Academics with no experience'" value="academics">
                    Academics with no experience
                </option>
                <option ng-selected="jobSeekerCV.candidate_type[0] == 'Discharged soldiers'" value="discharged">
                    Discharged
                    soldiers
                </option>
            </select>

                <label for="usr">Degree:</label>
                <select name="degree_name" class="form-control" id="usr" required>
                    <option ng-selected="jobSeekerCV.academy['degree_name'] == 'software engineering'">Software
                        Engineering
                    </option>
                    <option ng-selected="jobSeekerCV.academy['degree_name'] == 'Industrial Engineering and Management'">
                        Industrial Engineering and
                        Management
                    </option>
                    <option ng-selected="jobSeekerCV.academy['degree_name'] == 'Electrical Engineering'">Electrical
                        Engineering
                    </option>
                    <option ng-selected="jobSeekerCV.academy['degree_name'] == 'Mechanical Engineering'">Mechanical
                        Engineering
                    </option>
                </select>


                <label for="usr">Type:</label>
                <select name="degree_type" class="form-control degree_type" id="sel1" required>
                    <option ng-selected="jobSeekerCV.academy['degree_type'][0] == 'bsc'" value="bsc">B.S. (Bachelor
                        of
                        Science)
                    </option>
                    <option ng-selected="jobSeekerCV.academy['degree_type'][0] == 'msc'" value="msc">M.S. (Master of
                        Science)
                    </option>
                    <option ng-selected="jobSeekerCV.academy['degree_type'][0] == 'mres'" value="mres">M.Res. (Master
                        of Research)
                    </option>
                </select>

                <div class="form-group">
                    <label>Academy:</label>


                    <div class="btn-group jobSeekerCVAcademy" required data-toggle="buttons">
                        <label class="btn btn-success" ng-init="University=false" ng-click="University=true"
                               ng-class="{active:jobSeekerCV.academy['academy_type'][0] == 'University'}">University
                            <input type="checkbox" name="options" id="option2" autocomplete="off" value="University">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>

                        <label class="btn btn-primary"
                               ng-class="{active:jobSeekerCV.academy['academy_type'][0] == 'College'}">College
                            <input type="checkbox" name="options" id="option1" autocomplete="off" value="College">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Graduate:</label>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success" ng-init="honors=false" ng-click="honors=true"
                               ng-class="{active:jobSeekerCV.personal_properties['degree_graduation_with_honors'] == true}">Graduate
                            with honors
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>

                        <label class="btn btn-primary" ng-init="score=false" ng-click="score=true"
                               ng-class="{active:jobSeekerCV.personal_properties['psychometric_above_680'] == true}">SAT
                            score above 680
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Army:</label>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success" ng-init="military=false" ng-click="military=true"
                               ng-class="{active:jobSeekerCV.personal_properties['full_army_service'] == true}">Full
                            military service
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>

                        <label class="btn btn-primary" ng-init="Officer=false" ng-click="Officer=true"
                               ng-class="{active:jobSeekerCV.personal_properties['officer'] == true}">Officer in the
                            army
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>High School:</label>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success" ng-init="graduate=false" ng-click="graduate=true"
                               ng-class="{active:jobSeekerCV.personal_properties['high_school_graduation_with_honors'] == true}">High
                            School graduate
                            with honors
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>General:</label>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success" ng-init="experience=false" ng-click="experience=true"
                               ng-class="{active:jobSeekerCV.personal_properties['above_two_years_experience'] == true}">2+
                            experience in the field of study
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>

                        <label class="btn btn-primary" ng-init="foreign=false" ng-click="foreign=true"
                               ng-class="{active:jobSeekerCV.personal_properties['multilingual'] == true}">Speak
                            foreign languages
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                        <label class="btn btn-info" ng-init="volunteering=false" ng-click="volunteering=true"
                               ng-class="{active:jobSeekerCV.personal_properties['volunteering'] == true}">Society
                            volunteering
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>

                        <label class="btn btn-default" ng-init="Youth=false" ng-click="Youth=true"
                               ng-class="{active:jobSeekerCV.personal_properties['youth_movements'] == true}">Past
                            member of the Youth Movement
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label>Scope of position:</label>

                    <div class="btn-group jobSeekerCVScopeOfPosition" data-toggle="buttons" required>
                        <label class="btn btn-success "
                               ng-class="{active:jobSeekerCV.scope_of_position[0] == 'full'}">Full Time
                            <input type="checkbox" autocomplete="off" value="full">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>

                        <label class="btn btn-primary"
                               ng-class="{active:jobSeekerCV.scope_of_position[0] == 'part'}">Part Time
                            <input type="checkbox" autocomplete="off" value="part">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                        <label class="btn btn-info"
                               ng-class="{active:jobSeekerCV.scope_of_position[0] == 'hours'}">By Hours
                            <input type="checkbox" autocomplete="off" value="hours">
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                    </div>
                </div>

                <!-- TIMELINE -->
                <section class="resumeYears">
                    <div>
                        <h3>Education</h3>

                        <h3>Experience</h3>
                    </div>
                    <div class="container">
                        <div class="page-header">
                            <h1 id="timeline">Timeline</h1>
                        </div>
                        <!-- section of year -->
                        <ul class="timeline">
                            <li ng-repeat="experience in jobSeekerCV.original_text.history_timeline"
                                ng-class="{'timeline-inverted' : experience['type'] == 'experience'}">
                                <div class="timeline-badge" ng-click="addEducation(experience.type)">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <label>From
                                            <select id="experience_years" name="experience_years"
                                                    class="form-control" id="sel1">
                                                <option value="0">0</option>
                                                <option value="2005" ng-selected="experience['start_year'] == '2004'">
                                                    2004
                                                </option>
                                                <option value="2005" ng-selected="experience['start_year'] == '2005'">
                                                    2005
                                                </option>
                                                <option value="2006" ng-selected="experience['start_year'] == '2006'">
                                                    2006
                                                </option>
                                                <option value="2007" ng-selected="experience['start_year'] == '2007'">
                                                    2007
                                                </option>
                                                <option value="2008" ng-selected="experience['start_year'] == '2008'">
                                                    2008
                                                </option>
                                                <option value="2009" ng-selected="experience['start_year'] == '2009'">
                                                    2009
                                                </option>
                                                <option value="2010" ng-selected="experience['start_year'] == '2010'">
                                                    2010
                                                </option>
                                                <option value="2011" ng-selected="experience['start_year'] == '2011'">
                                                    2011
                                                </option>
                                                <option value="2012" ng-selected="experience['start_year'] == '2012'">
                                                    2012
                                                </option>
                                                <option value="2013" ng-selected="experience['start_year'] == '2013'">
                                                    2013
                                                </option>
                                                <option value="2014" ng-selected="experience['start_year'] == '2014'">
                                                    2014
                                                </option>
                                                <option value="2015" ng-selected="experience['start_year'] == '2015'">
                                                    2015
                                                </option>
                                                <option value="2016" ng-selected="experience['start_year'] == '2016'">
                                                    2016
                                                </option>
                                            </select>
                                        </label>
                                        <label>To
                                            <select id="experience_years" name="experience_years"
                                                    class="form-control" id="sel1">
                                                <option value="0">0</option>
                                                <option value="2005" ng-selected="experience['end_year'] == '2004'">
                                                    2004
                                                </option>
                                                <option value="2005" ng-selected="experience['end_year'] == '2005'">
                                                    2005
                                                </option>
                                                <option value="2006" ng-selected="experience['end_year'] == '2006'">
                                                    2006
                                                </option>
                                                <option value="2007" ng-selected="experience['end_year'] == '2007'">
                                                    2007
                                                </option>
                                                <option value="2008" ng-selected="experience['end_year'] == '2008'">
                                                    2008
                                                </option>
                                                <option value="2009" ng-selected="experience['end_year'] == '2009'">
                                                    2009
                                                </option>
                                                <option value="2010" ng-selected="experience['end_year'] == '2010'">
                                                    2010
                                                </option>
                                                <option value="2011" ng-selected="experience['end_year'] == '2011'">
                                                    2011
                                                </option>
                                                <option value="2012" ng-selected="experience['end_year'] == '2012'">
                                                    2012
                                                </option>
                                                <option value="2013" ng-selected="experience['end_year'] == '2013'">
                                                    2013
                                                </option>
                                                <option value="2014" ng-selected="experience['end_year'] == '2014'">
                                                    2014
                                                </option>
                                                <option value="2015" ng-selected="experience['end_year'] == '2015'">
                                                    2015
                                                </option>
                                                <option value="2016" ng-selected="experience['end_year'] == '2016'">
                                                    2016
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="timeline-body">
                                        <p>

                                        <div class="form-group">
                                            <label for="content">Content:</label>
                                            <textarea class="form-control" rows="3" name="content" id="content"
                                                      required>{{experience.text}}</textarea>
                                        </div>

                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- TIMELINE END -->
                <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
                <input type="button" class="btn btn-warning parseExperienceButton" ng-click="parseMyExperience()" required
                       value="Parse my Experience"/>
                <section class="parseExperience"></section>
                <input type="button" class="btn btn-warning parseExperiencePlusButton hidden"
                       ng-click="addMoreExperience()" value="+">

                <button type="button" id="submitAfterParse" class="btn btn-default disabled" data-toggle="modal" data-target="#myModal" ng-click="submitUserCV()">Send</button>

            </form>
        </div>
    </div>

</div>

<!-- Modal -->
<section class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resume Sent Succesfully</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</section>