<div class="searchJobsWrapper" ng-init="getMainJson()">

    <profileimg></profileimg>
    <h3 compile-html>{{navigation}}</h3>
    <header>
        <h2>Find your next job</h2>
    </header>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <form method="get" action="">
        <input type="text" placeholder="Find Job" ng-model="searchText"
               class="form-control">
    </form>
    <button type="button" class="btn btn-default"
            ng-click="sort('-compatibility_level')">Sort By Compability
    </button>
    <button type="button" class="btn btn-default" ng-click="sort('-date')">Sort
        By Date
    </button>

    <div class="jobsList">
        <ul>
            <li class="jobListLi  animated fadeInUp"
                ng-repeat="job in jobSeekerJobs | filter:searchText | orderBy:sortby"><a
                    href="#/searchJobs/{{job._id}}"> <img
                    ng-src="images/jobSeeker/{{job.logo}}.png">
                <article>
                    <p ng-model="searchText.job_name"
                       ng-bind-html="job.scope_of_position[0] | highlight:searchText">
                        {{job['scope_of_position'][0]}}</p>

                    <p ng-model="searchText.name"
                        ng-bind-html="job.original_text.title | highlight:searchText">
                        {{job['original_text']['title']}}</p>

                    <p ng-model="searchText.address">
                        {{job["locations"][0]}},
                        </p>
                    <p>{{job.date}}</p>
                </article>
                <section circle id="{{ 'circle-container-' + $index }}"
                         data-compability="{{job.compatibility_level}}">
                    <h5>{{job.compatibility_level}}%</h5>
                </section>
            </a>
                <hr>
            </li>
        </ul>
    </div>

</div>