<div class="searchJobsWrapper" ng-init="getMainJson()">
	<h3 compile-html>{{navigation}}</h3>
	<header>
		<h2>Find your next job</h2>
	</header>

	<form method="get" action="">
		<input type="text" placeholder="Find Job" ng-model="searchText"
			class="form-control" focus="true">
	</form>
	<button type="button" class="btn btn-default"
		ng-click="sort('-compability')">Sort By Compability</button>
	<button type="button" class="btn btn-default" ng-click="sort('-date')">Sort
		By Date</button>

	<div class="jobsList">
		<ul>
			<li class="jobListLi  animated fadeInUp"
				ng-repeat="job in jobSeekerJobs | filter:searchText | orderBy:sortby"><a
				href="#/searchJobs/{{job._id}}"> <img
					ng-src="images/jobSeeker/{{job.logo}}.png">
					<article>
						<p ng-model="searchText.job_name"
							ng-bind-html="highlight(job.job_name, searchText)">{{job.job_name}}</p>
						<p ng-model="searchText.name"
							ng-bind-html="highlight(job.name, searchText)">{{job.name}}</p>
						<p ng-model="searchText.address"
							ng-bind-html="highlight(job.address, searchText)">{{job.address}},
							{{job.time_published}}</p>
					</article>
					<section circle id="{{ 'circle-container-' + $index }}"
						data-compability="{{job.compability}}">
						<h5>{{job.compability}}%</h5>
					</section>
			</a>
				<hr></li>
		</ul>
	</div>

</div>