<div class="searchJobsImgCover1"></div>


<div class="searchJobsWrapper" ng-init="getMainJson();sort('-date');">

    <h3 class="navigation"></h3>

    <div class="myJobsBox">
        <header>
            <h2>Find your next job</h2>
        </header>
        <i class="fa fa-spinner fa-pulse fa-5x"></i>

        <form method="get" action="">
            <input type="text" placeholder="Find Job" ng-model="searchText"
                   class="form-control">
        </form>
        <button type="button" class="btn btn-default"
                ng-click="sort('-compatibility_level')">Sort By Compatibility
        </button>
        <button type="button" class="btn btn-default" ng-click="sort('-date')">Sort
            By Date
        </button>
    </div>
    <div class="jobsList">
        <ul>
            <li class="jobListLi  animated fadeInUp"
                ng-repeat="job in jobSeekerJobs | filter:searchText | orderBy:sortby">
                <div data-toggle="collapse" data-target="#collepse-{{$index}}" ng-click="collepse($index)">
                    <a href="">
                        <img class="logoInJobBox"
                             ng-src="{{job.user.company.logo}}">
                        <article class="visibleText">

                            <p ng-model="searchText.name"
                               ng-bind-html="job.original_text.title | highlight:searchText">
                                {{job['original_text']['title']}}</p>

                            <p>
                               <span ng-repeat="scope_of_position in job['scope_of_position']" >
                                    <span ng-if="scope_of_position == 'full'" ng-model="searchText.scope_of_position"  ng-bind-html="'Full Time Job |' | highlight:searchText" >Full Time Job |</span>
                                   <span ng-if="scope_of_position == 'part'" ng-model="searchText.scope_of_position"  ng-bind-html="'Part Time Job |' | highlight:searchText">Part Time Job |</span>
                                   <span ng-if="scope_of_position == 'hours'" ng-model="searchText.scope_of_position"  ng-bind-html="'Job by Hours |' | highlight:searchText">Job by Hours |</span>
                                </span>
                            </p>

                            <p ng-model="searchText.address"  ng-bind-html="job.locations[0] | highlight:searchText">
                                {{job["locations"][0]}},
                            </p>

                            <p>{{job.date}}</p>
                        </article>

                        <img class="arrow-down" src="images/arrow-down.png">
                        <section circle id="{{ 'circle-container-' + $index }}"
                                 data-compability="{{job.compatibility_level}}">
                            <h5>{{job.compatibility_level}}%</h5>
                        </section>
                    </a>
                    <article id="collepse-{{$index}}" class="collapse ">
                        <p>Description: {{job["original_text"].description}}</p>

                        <div class="skills">
                            Requirements:
                            <p>{{job.original_text["requirements"].split("|||")[0]}}</p>

                            <p>{{job.original_text["requirements"].split("|||")[1]}}</p>
                        </div>
                        <section>

                        </section>
                        <a class="checkMyCVButton" ng-if="page != 'yourjobs'" ng-show="cv_exist == true"
                           ng-href="#/searchJobs/{{job['_id']}}/matchpage"
                           ng-click="saveData(job['original_text']['title'],job.compatibility_level);"
                           class="btn btn-default">Check
                            my CV</a>
                        <img class="arrow-up" src="images/arrow-up.png">
                    </article>
                </div>
            </li>
        </ul>
    </div>
</div>





