<div class="searchJobsWrapper" ng-init="getMainJson();sort('-date');">
    <h3 class="navigation"></h3>
    <header>
        <h2>My Jobs</h2>
    </header>

    <form method="get" action="">
        <input type="text" placeholder="Find Job" ng-model="searchText"
               class="form-control">
    </form>
    <button type="button" class="btn btn-default"
            ng-click="sort('-compatibility_level')">Sort By Compability
    </button>
    <button type="button" class="btn btn-default" ng-click="sort('-date')">Sort
        By Date
    </button>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <div class="jobsList">
        <ul>
            <li class="jobListLi  animated fadeInUp"
                ng-repeat="jobSJ in jobSeekerJobs | filter:searchText | orderBy:sortby">
                <div data-toggle="collapse" data-target="#collepse-{{$index}}">
                <i class="fa fa-3x" id="fav{{$index}}" ng-class='{"fa-heart-o" : jobSJ.favorite == false, "fa-heart": jobSJ.favorite == true}' ng-click="favoriteJob(jobSJ.job._id,$index)"></i>
                <a
                    href="">
                    <div><img
                    ng-src="{{jobSJ.job.user.company.logo}}">
                <article>
                    <p ng-model="searchText.job_name"
                       ng-bind-html="jobSJ.job.academy[0]['degree_name'] | highlight:searchText">
                        {{jobSJ.job.academy["degree_name"]}}</p>

                    <p ng-model="searchText.name"
                       ng-bind-html="jobSJ.job.original_text['title'] | highlight:searchText">
                        {{jobSJ.job.original_text["title"]}}</p>

                    <p ng-model="searchText.address"
                       ng-bind-html="jobSJ.job.locations[0] | highlight:searchText">{{jobSJ.job.locations[0]}},
                        {{jobSJ.job.date}}</p>
                </article>
                <img class="readUnread" ng-src="{{jobSJ.cv.status.current_status == 'seen' ? 'images/readV.png' : ''}}"/>
                <img class="readUnread" ng-src="{{jobSJ.cv.status.current_status == 'unread' ? 'images/unreadV.png' : ''}}"/>
                <!--<img class="readUnread" ng-src="{{jobSJ.cv.status.current_status == 'seen' ? 'images/readV.png' : 'images/unreadV.png'}}"/>
                <img class="readUnread" ng-src="{{jobSJ.cv.status.current_status == 'seen' ? 'images/readV.png' : 'images/unreadV.png'}}"/>
					-->
				<span class="rating animated pulse" ng-if="jobSJ.cv.status.current_status == 'liked'">
				    <input type="radio" class="rating-input" id="rating-5" name="rating">
					<label for="rating-5" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars<5"
                           ng-style="{'background-position':'0 -16px'}"></label>
					<label for="rating-5" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars==5"
                           ng-style="{'background-position':'0 0'}"></label>
					<input type="radio" class="rating-input" id="rating-4" name="rating">
					<label for="rating-4" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars<4"
                           ng-style="{'background-position':'0 -16px'}"></label>
					<label for="rating-4" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars>=4"
                           ng-style="{'background-position':'0 0'}"></label>
					<input type="radio" class="rating-input" id="rating-3" name="rating">
					<label for="rating-3" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars<3"
                           ng-style="{'background-position':'0 -16px'}"></label>
					<label for="rating-3" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars>=3"
                           ng-style="{'background-position':'0 0'}"></label>
					<input type="radio" class="rating-input" id="rating-2" name="rating">
					<label for="rating-2" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars<2"
                           ng-style="{'background-position':'0 -16px'}"></label>
					<label for="rating-2" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars>=2"
                           ng-style="{'background-position':'0 0'}"></label>
					<input type="radio" class="rating-input" id="rating-1" name="rating">
					<label for="rating-1" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars<1"
                           ng-style="{'background-position':'0 -16px'}"></label>
					<label for="rating-1" class="rating-star" ng-if="jobSJ.cv.status.status_id.rate.stars>=1"
                           ng-style="{'background-position':'0 0'}"></label>
				</span>
                    </div>
                    <p  ng-if="jobSJ.cv.status.current_status == 'unliked'">
                        Unlike Reason: {{jobSJ.cv.status.status_id.rate.description}}
                    </p>

                <section circle id="{{ 'circle-container-' + $index }}"
                         data-compability="{{jobSJ.job.compatibility_level}}">
                    <h5>{{jobSJ.job.compatibility_level}}%</h5>
                </section>

                    <article id="collepse-{{$index}}" class="collapse ">
                        <p>Description: {{jobSJ.job["original_text"].description}}</p>
                        <div class="skills">
                            Requirements:
                            <p>{{jobSJ.job.original_text["requirements"].split("|||")[0]}}</p>

                            <p>{{jobSJ.job.original_text["requirements"].split("|||")[1]}}</p>
                        </div>
                        <section>

                        </section>
                    </article>
            </a>
                <hr>
                    </div>
            </li>
        </ul>
    </div>

</div>