.aboutWrapper p {
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
}

.aboutWrapper h4 {
    text-align: left;
    margin-top: 24px;
}

.aboutWrapper h5 {
    font-size: 18px;
    margin: 30px 0px;
}