.contactusWrapper div {
    float: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 48%;
    margin-left: 2%;
    min-height: 477px;
    padding: 30px;
    margin-bottom: 1%;
}

.contactusWrapper div h3 {
    margin-bottom: 40px;
}

.contactusWrapper > div > section {
    width: 100%;
    margin-bottom: 20px;
}

.contactusWrapper > div > section > i {
    width: 100%;
    text-align: center;
}

.contactusWrapper > div > section > span {
    text-align: left;
    font-size: 20px;
}

.contactusWrapper > article {
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 98%;
    margin-left: 2%;
    min-height: 420px;
    clear: both;
    padding: 30px;
}
