<div class="myJobsImgCover"></div>

<div class="myjobsWrapper" ng-init="getMainJson()">
    <h3 class="navigation"></h3>

    <div class="myJobsBox">
        <header>
            <h2>Archive</h2>
        </header>
        <i class="fa fa-spinner fa-pulse fa-5x"></i>
        <form method="get" action="">
            <input type="text" placeholder="Find Job" ng-model="searchText"
                   class="form-control">
        </form>
        <button type="button" class="btn btn-default"
                ng-click="sort('-compatibility_level')">Sort By Compability
        </button>
        <button type="button" class="btn btn-default" ng-click="sort('-date')">Sort
            By Date
        </button>
    </div>

    <ul class="engineering" class="nav nav-tabs" ng-init="tab=0">
        <li class="selected" ng-class="{active:tab == 0}"><a ng-click="tab = 0">Software
            Engineer</a></li>
        <li class="disabled"><a>
            Managment Engineer</a></li>
        <li class="disabled"><a n>Electrial
            Engineer</a></li>
        <li class="disabled"><a>Mechanical
            Engineer</a></li>
    </ul>
    <div class="tabsWrapper">
        <div ng-include="'employer/myJobsAndArchiveInclude.html'"></div>
    </div>
</div>