<div class="candidatesWrapper">
    <h3 compile-html>{{navigation}}</h3>
    <header>
        <h2>Candidates</h2>
    </header>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <form method="get" action="">
        <input type="text" placeholder="Find Candidate" ng-model="searchText"
               class="form-control">
    </form>
    <button type="button" class="btn btn-default"
            ng-click="sort('-compability')">Sort By Compability
    </button>
    <button type="button" class="btn btn-default" ng-click="sort('-date')">Sort
        By Date
    </button>

    <ul class="nav nav-tabs candidatesTabs" ng-init="tab=0; unreadCvs()">
        <li ng-class="{active:tab == 0}"><a ng-click="tab = 0; unreadCvs()">Unread</a></li>
        <li ng-class="{active:tab == 1}"><a ng-click="tab = 1; likedCvs()">Liked</a></li>
        <li ng-class="{active:tab == 2}"><a ng-click="tab = 2; unlikeCvs()">Unliked</a></li>
    </ul>


    <div class="tabsWrapper">
        <div ng-show="tab == 0" class="fade in active">
            <h3>{{candidates.length}} Resume's</h3>
            <!-- jobs sections -->
            <section
                    ng-repeat="candidate in candidates | filter:searchText | orderBy:sortby">
                <div class="candidates animated fadeInUp">
                    <div><a
                            href="#/Unread/{{jobId}}/resume/{{candidate._id}}"><img
                            src="./images/logo.png"></a>
                        <h5>{{candidate.sub_sector[0]}}</h5>
                    </div>
                    <div>

                        <a ng-if="tab == 0" href="#/Candidates/{{jobId}}/resume/{{candidate._id}}">
                            <h3>{{candidate.user['first_name']}} {{candidate.user['last_name']}}</h3>

                            <p
                                    ng-model="searchText.sector"
                                    ng-bind-html="candidate.sector | highlight:searchText">
                                {{candidate.sector}} ,{{candidate.academy[0].academy_type}} ,
                                {{candidate.academy[0].degree_type[0]}} </p>
                            <section circle id="{{ 'circle-container-' + $index }}"
                                     data-compability="{{candidate.compatibility_level}}">
                                <h5>{{candidate.compatibility_level}}%</h5>
                            </section>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div ng-show="tab == 1" class="fade in active">
            <h3>{{likeCandidates.length}} Like Resume's</h3>
            <!-- jobs sections -->
            <section
                    ng-repeat="candidate in likeCandidates | filter:searchText | orderBy:sortby">
                <div class="candidates animated fadeInUp">
                    <div><a
                            href=""><i id="candidateLike-{{candidate.google_user_id}}"
                                       class='fa fa-thumbs-up fa-2x'
                                       ng-click='addCandidateToLike($index,candidate.google_user_id)'></i></a> <a
                            href="#/Candidates/{{jobId}}/resume/{{candidate.google_user_id}}"><img
                            src="./images/logoSmall.png"></a>
                        <article ng-repeat="subsector in candidate['sub_sector']"><h5> | {{subsector}} | </h5></article>

                    </div>
                    <div>

                        <a ng-if="tab == 1" href="#/Candidates/{{jobId}}/resume/{{candidate.google_user_id}}">
                            <h3>{{candidate.user["first_name"]}} {{candidate.user["last_name"]}}</h3>

                            <p
                                    ng-model="searchText.sector"
                                    ng-bind-html="candidate.sector | highlight:searchText">
                                {{candidate.sector}} ,{{candidate.academy[0].academy_type}} ,
                                {{candidate.academy[0].degree_type[0]}} </p>
                            <section circle id="{{ 'circle-container-' + $index }}"
                                     data-compability="{{candidate.compability}}">
                                <h5>{{candidate.compability}}%</h5>
                            </section>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div ng-show="tab == 2" class="fade in active">
            <h3>{{unlikeCandidates.length}} Unlike Resume's</h3>
            <!-- jobs sections -->
            <section
                    ng-repeat="candidate in unlikeCandidates | filter:searchText | orderBy:sortby">
                <div class="candidates animated fadeInUp">
                    <div>
                        <a
                                href=""><i id="candidateLike-{{candidate.google_user_id}}"
                                           class='fa fa-thumbs-o-up fa-2x'
                                           ng-click='addCandidateToLike($index,candidate.google_user_id)'></i></a> <a
                            href="#/Candidates/{{jobId}}/resume/{{candidate.google_user_id}}"><img
                            src="./images/logoSmall.png"></a>

                        <article ng-repeat="subsector in candidate['sub_sector']"><h5> | {{subsector}} | </h5></article>

                    </div>
                    <div>

                        <a ng-if="tab == 2" href="#/Candidates/{{jobId}}/resume/{{candidate.google_user_id}}">
                            <h3>{{candidate.user["first_name"]}} {{candidate.user["last_name"]}}</h3>

                            <p
                                    ng-model="searchText.sector"
                                    ng-bind-html="candidate.sector | highlight:searchText">
                                {{candidate.sector}} ,{{candidate.academy[0].academy_type}} ,
                                {{candidate.academy[0].degree_type[0]}} </p>
                            <section circle id="{{ 'circle-container-' + $index }}"
                                     data-compability="{{candidate.compatibility_level}}">
                                <h5>{{candidate.compatibility_level}}%</h5>
                            </section>
                        </a>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>