<div class="jobCover"></div>
<div class="candidatesWrapper" ng-init="init()">
    <h3 class="navigation"></h3>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <h4 class="hiredCandidatesLength">{{hireCandidates.length}} Candidates has been Hired!</h4>
    <!-- candidates sections -->
    <article class="hiredCandWrap">
        <section ng-repeat="hireCandidate in hireCandidates">
            <div class="hireCandidate animated fadeInUp" id="indx-{{$index}}">
                <div class="fired" ng-click="fired($index,hireCandidate.personal_properties['_id'])"
                     ng-class="{on:hireCandidate.personal_properties['decision'] == false}">
                </div>

                <section>
                    <h3>{{hireCandidate.user['first_name']}} {{hireCandidate.user['last_name']}}</h3>
                    <h4>ID: {{hireCandidate.user['personal_id']}}</h4>
                </section>


                <div class="hiredImg" ng-click="hired($index,hireCandidate.personal_properties['_id'])"
                     ng-class="{on:hireCandidate.personal_properties['decision'] == true}">
                </div>

            </div>
        </section>
    </article>
</div>


<style>
    .hireCandidate {
        position: relative;
        border-bottom: 1px solid #fff;
        height: 100px;
    }

    .hireCandidate > img:nth-child(3) {
        right: 0px;
        top: 0;
    }

    .hireCandidate > img {
        width: 100px;
        position: absolute
    }

    .hireCandidate > section > h3, .hireCandidate > section > h4 {
        margin: 0 auto;
        color: #fff;
    }

    .hireCandidate > section > h3 {
        line-height: 50px;
    }

    .hiredCandidatesLength {
        margin-bottom: 100px;
        color: #fff;
        margin-top: 10px;
        position: absolute;
        top: 16px;
    }

    .hiredCandWrap {
        margin-top: 100px;
    }

    .fired, .hiredImg {
        top: 0;
        width: 120px;
        height: 60px;
        position: absolute;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .fired {
        background: url("images/fired2.png");
        left: 0;
    }

    .fired:hover ,.fired.on{
        background: url("images/fired1.png");

    }

    .hiredImg {
        background: url("images/hired2.png");
        right: 0;
    }

    .hiredImg:hover ,.hiredImg.on{
        background: url("images/hired1.png");
    }

</style>