<div class="jobWrapper" ng-init="getJobJson()">
    <h3 compile-html>{{navigation}}</h3>
    <header>
        <h2>Job</h2>
    </header>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>

    <form method="post">
        <div class="animated fadeInDown jobEdit">
            <div class="form-group">
                <label for="jobName">Job Name:</label> <input type="text" ng-model="jobDetails['original_text']['title']"
                                                placeholder="Please Type job name" id="jobName"
                                                class="form-control jobName" name="job_name" required="true"
                                                value="{{jobDetails['original_text']['title']}}" />
            </div>

            <div class="form-group">
                <label>Location:</label> <input class="form-control" ng-model="jobDetails.locations" id="geocomplete" required
                                                type="text"
                                                name="location" value="{{jobDetails['locations']}}"
                                                placeholder="Type in an address" size="90" autocomplete="on" />
            </div>

            <div class="form-group">
                <label> Degree Name:</label>
                <select name="degree_name" class="form-control degree_name" required>
                    <option ng-selected="jobDetails.academy['degree_name'] == 'software engineering'" value="software engineering">Software
                        Engineering
                    </option>
                    <option ng-selected="jobDetails.academy['degree_name'] == 'Industrial Engineering and Management'" value="Industrial Engineering and Management">
                        Industrial Engineering and
                        Management
                    </option>
                    <option ng-selected="jobDetails.academy['degree_name'] == 'Electrical Engineering'" value="Electrical Engineering">Electrical
                        Engineering
                    </option>
                    <option ng-selected="jobDetails.academy['degree_name'] == 'Mechanical Engineering'" value="Mechanical Engineering">Mechanical
                        Engineering
                    </option>
                </select>
            </div>


            <div class="form-group">
                <label>Degree Type:</label>
                <div class="btn-group degree_type" data-toggle="buttons" required>
                    <label class="btn btn-success"
                           ng-class="{active:jobDetails.academy['degree_type'][0] == 'bsc' || jobDetails.academy['degree_type'][1] == 'bsc' || jobDetails.academy['degree_type'][2] == 'bsc'}">B.S. (Bachelor
                        of
                        Science)
                        <input type="checkbox" name="academyOptions"  autocomplete="off"
                               value="bsc">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                    <label class="btn btn-primary"
                           ng-class="{active:jobDetails.academy['degree_type'][0] == 'msc' || jobDetails.academy['degree_type'][1] == 'msc' || jobDetails.academy['degree_type'][2] == 'msc'}">M.S. (Master of
                        Science)
                        <input type="checkbox" name="academyOptions"  autocomplete="off" value="msc">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                    <label class="btn btn-info"
                           ng-class="{active:jobDetails.academy['degree_type'][0] == 'mres' || jobDetails.academy['degree_type'][1] == 'mres' || jobDetails.academy['degree_type'][2] == 'mres'}">M.Res. (Master
                        of Research)
                        <input type="checkbox" name="academyOptions"  autocomplete="off" value="mres">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                </div>
            </div>


            <div class="form-group">
                <label>Academy:</label>

                <div class="btn-group academy" data-toggle="buttons" required>
                    <label class="btn btn-success"
                           ng-class="{active:jobDetails.academy['academy_type'][0] == 'university' || jobDetails.academy['academy_type'][1] == 'university'}">University
                        <input type="checkbox" name="academyOptions" id="academy1" autocomplete="off" value="university">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>

                    <label class="btn btn-primary"
                           ng-class="{active:jobDetails.academy['academy_type'][0] == 'college' || jobDetails.academy['academy_type'][1] == 'college'}">College
                        <input type="checkbox" name="academyOptions" id="academy2" autocomplete="off" value="college">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                </div>
            </div>


            <div class="form-group">
                <label>Candidate Type:</label>

                <div class="btn-group candidate_type" data-toggle="buttons" required ng-init="jobDetails.candidate_type = ct">
                    <label class="btn btn-success" ng-class="{active:ct[0]=='student' || ct[1]=='student' || ct[2]=='student' || ct[3]=='student' || ct[4]=='student'}">Students
                        <input type="checkbox" autocomplete="off" value="student">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>

                    <label class="btn btn-primary" ng-class="{active:ct[0]=='mothers' || ct[1]=='mothers' || ct[2]=='mothers' || ct[3]=='mothers' || ct[4]=='mothers'}">Mothers
                        <input type="checkbox" autocomplete="off" value="mothers">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>

                    <label class="btn btn-info" ng-class="{active:ct[0]=='masters' || ct[1]=='masters' || ct[2]=='masters' || ct[3]=='masters' || ct[4]=='masters'}">Masters
                        <input type="checkbox" autocomplete="off" value="masters">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                    <label class="btn btn-success" ng-class="{active:ct[0]=='pensioners' || ct[1]=='pensioners' || ct[2]=='pensioners' || ct[3]=='pensioners' || ct[4]=='pensioners'}">Pensioners
                        <input type="checkbox" autocomplete="off" value="Pensioners">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                    <label class="btn btn-primary" ng-class="{active:ct[0]=='graduate' || ct[1]=='graduate' || ct[2]=='graduate' || ct[3]=='graduate' || ct[4]=='graduate'}">Graduate
                        <input type="checkbox" autocomplete="off" value="Graduate">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                </div>
            </div>

            <input type="hidden" value="software engineer" class="form-control">

            <!--<div class="form-group">
                <label>Sub Sector:</label> <input type="text" ng-model="jobDetails.sub_sector"
                                                  placeholder="Please Type Sub-Sector, Example: C++ Developer"
                                                  class="form-control" name="sub_sector"
                                                  value="{{jobDetails.sub_sector}}">
            </div>-->


            <div class="form-group">
                <label>Scope of Position:</label>

                <div class="btn-group scope_of_position" data-toggle="buttons" required>
                    <label class="btn btn-success" ng-class="{active:jobDetails.scope_of_position[0]=='full' || jobDetails.scope_of_position[1]=='full' || jobDetails.scope_of_position[2]=='full'}">Full Time
                        <input type="checkbox" autocomplete="off" value="full">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>

                    <label class="btn btn-primary" ng-class="{active:jobDetails.scope_of_position[0]=='Weekends' || jobDetails.scope_of_position[1]=='Weekends' || jobDetails.scope_of_position[2]=='Weekends'}">Weekends
                        <input type="checkbox" autocomplete="off" value="Weekends">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>

                    <label class="btn btn-info" ng-class="{active:jobDetails.scope_of_position[0]=='part' || jobDetails.scope_of_position[1]=='part' || jobDetails.scope_of_position[2]=='part'}">Part
                        Time<input type="checkbox" autocomplete="off" value="part">
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                </div>
            </div>


            <div class="form-group" ng-model="compability" ng-value="compability=jobDetails['compatibility_level'] || '0'">
                <label>Min Compability:</label>
                <ul class="pagination pagination-lg">
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 10}"
                           ng-click="jobDetails['compatibility_level']=10;">10</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 20}"
                           ng-click="jobDetails['compatibility_level']=20">20</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 30}"
                           ng-click="jobDetails['compatibility_level']=30">30</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 40}"
                           ng-click="jobDetails['compatibility_level']=40">40</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 50}"
                           ng-click="jobDetails['compatibility_level']=50">50</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 60}"
                           ng-click="jobDetails['compatibility_level']=60">60</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 70}"
                           ng-click="jobDetails['compatibility_level']=70">70</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 80}"
                           ng-click="jobDetails['compatibility_level']=80">80</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 90}"
                           ng-click="jobDetails['compatibility_level']=90">90</a></li>
                    <li><a href="" ng-class="{paginationSelected: jobDetails.compatibility_level == 100}"
                           ng-click="jobDetails['compatibility_level']=100">100</a></li>
                </ul>
                <section circle id="circle-container-0" ng-model="jobDetails.compability"
                         data-compability="{{jobDetails['compatibility_level']}}">
                    <h5 ng-if="!jobDetails['compatibility_level']">0%</h5>
                    <h5 ng-if="jobDetails['compatibility_level'] > 0">{{jobDetails['compatibility_level']}}%</h5>
                </section>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
				<textarea class="form-control" rows="10" id="description" name="original_text" required
                          ng-model="jobDetails.original_text['description']"
                          placeholder="Please Type Description, Example: We are Apple Company, since 1960..."
                >{{jobDetails.original_text['description']}}</textarea>
            </div>

            <div class="form-group requirements">
                <label for="requirementsMust">Requirements - Must:</label>
				<textarea class="form-control" rows="5" id="requirementsMust" required
                          placeholder="Please write your Must Requirements"
                          name="requirements">{{jobDetails.original_text['requirements'].split("|||")[0]}}</textarea>
            </div>
            <div class="form-group requirements">
                <label for="requirementsAdvantage">Requirements - Advantage:</label>
				<textarea class="form-control" rows="5" id="requirementsAdvantage"
                          placeholder="Please write your Advantage Requirements"
                          name="requirements">{{jobDetails.original_text['requirements'].split("|||")[1]}}</textarea>
            </div>

            <div class="form-group experienceBeforeParse">
                <input type="button" class="btn btn-warning"
                       ng-click="parseExperience()" value="Parse my Experience">
            </div>
            <i class="fa fa-refresh fa-spin fa-spin2 fa-3x fa-fw margin-bottom"></i>
            <div class="form-group">
                <section class="operators hidden">
                    <div id="Page" class="Page">
                        <!--  <div class="Container">
                              <a id="NewItem" class="NewItem">Click to Add Item </a>

                              <div id="CopyItem" class="CopyItem">Drop to Copy Item</div>
                              <div id="Items" class="Items">

                                  <div class='Item'><h2>MUST</h2></div>
                                  <div class='Item'><input type="text" name="lang1" value="JAVA"/>

                                      &lt;!&ndash; <article class="mustOrAdv">
                                           <div><h3>Must</h3></div>
                                           <div><h3>Advantage</h3></div>
                                           <section id="mustOrAdv1" class="toggleAdv"
                                                    ng-click="mustOrAdv($index=1)"></section>
                                       </article>&ndash;&gt;
                                      <select class="form-control" name="years1">
                                          <option>0 No-Experience</option>
                                          <option>1-2 Years</option>
                                          <option>3-4 Years</option>
                                          <option>5+ Years</option>
                                      </select>
                                      &lt;!&ndash;
                                      <label id="mustOrAdvCheckBox1"><input type="checkbox"/>OR</label>&ndash;&gt;
                                  </div>
                                  <div class='Item'><input type="text" name="lang2" value="C++"/>

                                      <select class="form-control" name="years2">
                                          <option>0 No-Experience</option>
                                          <option>1-2 Years</option>
                                          <option>3-4 Years</option>
                                          <option>5+ Years</option>
                                      </select>
                                  </div>
                                  <div class='Item'><input type="text" name="lang3" value="HTML"/>

                                      <select class="form-control" name="years3">
                                          <option>0 No-Experience</option>
                                          <option>1-2 Years</option>
                                          <option>3-4 Years</option>
                                          <option>5+ Years</option>
                                      </select>
                                  </div>
                                  <div class='Item'><h2>Advantage</h2></div>
                                  <div class='Item'><h2>OR</h2></div>
                              </div>
                          </div>-->
                        <div class="Container">
                            <a id="NewItem" class="NewItem">Click to Add Item </a>

                            <div id="CopyItem" class="CopyItem">Drag into the Operators</div>
                            <div id="Items" class="Items">
                                <div class='Item' ng-repeat="(lang, priority) in langs"><input type="text"
                                                                                               value="{{lang}}"/>
                                    <select class="form-control">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>3</option>
                                        <option>5</option>
                                    </select>
                                    <input type="text" class="form-control" ng-change="priority()" value="0"
                                           ng-model="priority[$index]"/>

                                    <h3>Percentage: </h3>
                                </div>
                                <div class='Item mustItem1'><h2>MUST</h2></div>
                                <div class='Item advantageItem1'><h2>Advantage</h2></div>
                                <div class='Item orItem1'><h2>OR</h2></div>
                            </div>
                            <!--
                                                        <button id="addOr" class="btn btn-default">Click to add OR</button>-->
                        </div>
                        <input type="button" id="addmust" class="btn btn-default" value="Add another Priority Operator"/>
                    </div>
                    <h3>OR</h3>

                    <div id="Page2" class="Page hidden">
                        <div class="Container"><a id="NewItem2" class="NewItem">Click to Add Item </a>

                            <div id="CopyItem2" class="CopyItem">Drag into the Operators</div>
                            <div id="Items2" class="Items">
                                <div class="Item mustItem2"><h2>MUST</h2></div>
                                <div class="Item advantageItem2"><h2>Advantage</h2></div>
                                <div class="Item orItem2"><h2>OR</h2></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div ng-include="'employer/jobparameters.html'"></div>
            <div class="form-group">
               <!-- <button type="button" id="submitAfterParse" class="btn btn-warning disabled"  data-toggle="modal" data-target="#sendJob" ng-click="submitForm()"  >Send</button> -->
                <button type="button" id="submitAfterParse" class="btn btn-warning disabled"  data-toggle="modal" data-target="#sendJob" ng-click="submitForm()"  >Send</button>
            </div>
        </div>
    </form>
</div>


<!-- Modal -->
<section class="modal fade" id="sendJob" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="modal-title">{{status}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="exitStatus()">
                    Close
                </button>
            </div>
        </div>
    </div>
</section>
