<div class="myjobsWrapper" ng-init="getMainJson()">
	<h3 compile-html>{{navigation}}</h3>
	<header>
		<h2>My Jobs</h2>
	</header>
	<form method="get" action="">
		<input type="text" placeholder="Find Job" ng-model="searchText"
			class="form-control" focus="true">
	</form>
	<button type="button" class="btn btn-default"
		ng-click="sort('-compability')">Sort By Compability</button>
	<button type="button" class="btn btn-default" ng-click="sort('-date')">Sort
		By Date</button>

	<ul class="nav nav-tabs" ng-init="tab=0">
	<li ng-class="{active:tab == 0}"><a ng-click="tab = 0">Software
				Engineer</a></li>
		<li ng-class="{active:tab == 1}"><a ng-click="tab = 1">
				Managment Engineer</a></li>
		<li ng-class="{active:tab == 2}"><a ng-click="tab = 2">Electrial
				Engineer</a></li>
		<li ng-class="{active:tab == 3}"><a ng-click="tab = 3">Mechanical
				Engineer</a></li>
	</ul>


	<div class="tabsWrapper">
		<a href="#/newJob"><input type="button" class="btn btn-default" value="Add new Job"/></a>
		<div ng-show="tab == 0" class="fade in active">
			<!-- jobs sections -->
			<section
				ng-repeat="job in myjobs | filter:searchText | orderBy:sortby">
				<div class="jobs animated fadeInUp">
					<div>
						<a href="#/jobDelete/{{job._id}}"><i class="fa fa-trash fa-2x"></i></a>
						<a href="#/jobParameters/{{job._id}}"><i
							class="fa fa-wrench fa-2x"></i></a> <a href="#/job/{{job._id}}"><i
							class="fa fa-pencil fa-2x"></i></a> <a
							href="#/Candidates/{{job._id}}"><img src="./images/logo.png"></a>


						<h3 ng-model="searchText.job_name"
							ng-bind-html="highlight(job.job_name, searchText)">{{job.job_name}}</h3>
					</div>
					<div data-toggle="collapse" data-target="#collepse-{{$index}}">
						<h5>Address: {{job.address}}</h5>
						<p>{{job.sub_sector}}</p>

						<article id="collepse-{{$index}}" class="collapse">
							<span>Inforamtion: </span>{{job.original_text}}
						</article>

						<span>Compability:</span>
						<section circle id="{{ 'circle-container-' + $index }}"
							data-compability="{{job.compability}}">
							<h5>{{job.compability}}%</h5>
						</section>
					</div>
				</div>
			</section>
		</div>

	</div>