<div class="myjobsWrapper" ng-init="getMainJson()">
    <h3 compile-html>{{navigation}}</h3>
    <header>
        <h2>My Jobs</h2>
    </header>
    <form method="get" action="">
        <input type="text" placeholder="Find Job" ng-model="searchText"
               class="form-control">
    </form>
    <button type="button" class="btn btn-default"
            ng-click="sort('-compatibility_level')">Sort By Compability
    </button>
    <button type="button" class="btn btn-default" ng-click="sort('date')">Sort
        By Date
    </button>
    <ul class="nav nav-tabs" ng-init="tab=0">
        <li ng-class="{active:tab == 0}"><a ng-click="tab = 0">Software
            Engineer</a></li>
        <li class="disabled"><a>
            Managment Engineer</a></li>
        <li class="disabled"><a n>Electrial
            Engineer</a></li>
        <li class="disabled"><a>Mechanical
            Engineer</a></li>
    </ul>
    <div class="tabsWrapper">
        <a href="#/newJob"><input type="button" class="btn btn-default" value="Add new Job"/></a>
        <div ng-include="'employer/myJobsAndArchiveInclude.html'"></div>
    </div>
</div>