<div class="myJobsImgCover"></div>
<div class="myjobsWrapper" ng-init="init();getMainJson();sort('-date');">
    <h3 class="navigation"></h3>
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <div class="myJobsBox">
        <a id="popoverData" class="btn" href="#/{{popoverData}}" data-content="{{popOverDataContent}}" rel="popover"
           data-placement="bottom" data-trigger="hover">+ Add new Job</a>
        <header>
            <h2>My Jobs</h2>
        </header>
        <form method="get" action="">
            <input type="text" placeholder="Find Job" ng-model="searchText" highlighted data-search="searchText"
                   class="form-control">
        </form>
        <button type="button" class="btn btn-default"
                ng-click="sort('-compatibility_level')">Sort By Compatibility
        </button>
        <button type="button" class="btn btn-default" ng-click="sort('-date')">Sort
            By Date
        </button>
    </div>
    <ul class="nav engineering" ng-init="tab=0">
        <li class="selected" ng-class="{active:tab == 0}"><a ng-click="tab = 0">Software
            Engineer</a></li>
        <li class="disabled"><a>
            Managment Engineer</a></li>
        <li class="disabled"><a n>Electrial
            Engineer</a></li>
        <li class="disabled"><a>Mechanical
            Engineer</a></li>
    </ul>
    <div class="tabsWrapper">
        <div ng-include="'employer/myJobsAndArchiveInclude.html'"></div>
    </div>
</div>