<div class="resumeWrapper">
    <h3 compile-html>{{navigation}}</h3>

    <input type="hidden" class="starModal btn btn-info btn-lg"
           data-toggle="modal" data-target="#myModal"/>
    <input type="hidden" class="leftModal btn btn-info btn-lg"
           data-toggle="modal" data-target="#leftModal"/>
    <i id="candidateLike"
       class='fa fa-thumbs-o-up fa-2x' ng-click='addCandidateToLikeUnlike(user.id,"like")'></i>
    <i id="candidateUnLike" class='fa fa-thumbs-o-up fa-2x'
       ng-click='addCandidateToLikeUnlike(user.id,"unlike")'></i>
    <article id="users">
        <!-- User Name -->
        <div ng-init="getUserJson()">
            <h3>{{user.name}} Resume</h3>
            <h4>{{user.subsector}}</h4>
            <a href=""><i id="candidateStar"
                          class='fa fa-star-o fa-2x'
                          ng-click='addCandidateToFavorites(user.id)'></i></a>
        </div>

        <!-- Resume Skills -->
        <section class="resumeSkillsBox">
            <h3>Software Skills</h3>
            <span style="color: #57b7ee">C++</span> , <span
                style="color: #6c57ee;">Jquery</span> , <span style="color: #be57ee">NodeJS</span>
            , <span style="color: #ee5785">Java</span>
            <section id="circle-container">
                <section id="circle-container2">
                    <section id="circle-container3">
                        <section id="circle-container4"></section>
                    </section>
                </section>
                <h2>Skills</h2>
            </section>


        </section>

        <!-- TIMELINE -->
        <section class="resumeYears">
            <div>
                <h3>Education</h3>

                <h3>Employment</h3>
            </div>
            <div class="container">
                <div class="page-header">
                    <h1 id="timeline">Timeline</h1>
                </div>
                <!-- section of year -->
                <ul class="timeline" ng-repeat="details in user.requirements">
                    <!-- section of year -->
                    <!-- <li class="timeline-inverted"> for Employment side -->
                    <li>
                        <div class="timeline-badge">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{details.name}}</h4>

                                <p>
                                    <small class="text-muted">{{details.years}}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>{{details.job_type}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- TIMELINE END -->

        </section>

        <!-- Resume Details -->
        <section class="resumeDetailsBox">
            <h3>Contact Details</h3>

            <div>
                <a href="#"><i class="fa fa-phone fa-2x"></i>
                    <h4>{{user.phone}}</h4></a>
            </div>
            <div>
                <a href="#"><i class="fa fa-envelope fa-2x"></i>
                    <h4>{{user.mail}}</h4></a>
            </div>
            <div>
                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i>
                    <h4>{{user.linkdin}}</h4></a>
            </div>
        </section>


    </article>


    <!-- Modal -->
    <section class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rate by Stars</h4>
                </div>
                <div class="modal-body">
                    <!-- STAR RANK -->
					<span class="rating  animated pulse"> 
			    <input type="radio" class="rating-input" id="rating-5" ng-click="rating(5)" name="rating">
				<label for="rating-5" class="rating-star" ng-if="user.stars<5"
                       ng-style="{'background-position':'0 -16px'}"></label>
				<label for="rating-5" class="rating-star" ng-if="user.stars==5"
                       ng-style="{'background-position':'0 0'}"></label>
				<input type="radio" class="rating-input" id="rating-4" ng-click="rating(4)" name="rating"> 
				<label for="rating-4" class="rating-star" ng-if="user.stars<4"
                       ng-style="{'background-position':'0 -16px'}"></label>
				<label for="rating-4" class="rating-star" ng-if="user.stars>=4"
                       ng-style="{'background-position':'0 0'}"></label>
				<input type="radio" class="rating-input" id="rating-3" ng-click="rating(3)" name="rating">
				<label for="rating-3" class="rating-star" ng-if="user.stars<3"
                       ng-style="{'background-position':'0 -16px'}"></label>
				<label for="rating-3" class="rating-star" ng-if="user.stars>=3"
                       ng-style="{'background-position':'0 0'}"></label>
				<input type="radio" class="rating-input" id="rating-2" ng-click="rating(2)" name="rating">
				<label for="rating-2" class="rating-star" ng-if="user.stars<2"
                       ng-style="{'background-position':'0 -16px'}"></label>
				<label for="rating-2" class="rating-star" ng-if="user.stars>=2"
                       ng-style="{'background-position':'0 0'}"></label>
				<input type="radio" class="rating-input" id="rating-1" ng-click="rating(1)" name="rating">
				<label for="rating-1" class="rating-star" ng-if="user.stars<1"
                       ng-style="{'background-position':'0 -16px'}"></label>
				<label for="rating-1" class="rating-star" ng-if="user.stars>=1"
                       ng-style="{'background-position':'0 0'}"></label>
			</span>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="bringNextCandidate()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <section class="modal fade" id="leftModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Description</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
				<textarea class="form-control" rows="5" name="original_text"
                          id="comment" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="bringNextCandidate()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>